@media screen and (max-width: 500px)
{
    .album1-wrapper
    {
        height: 62.5rem;
    }

    .album2-wrapper
    {
        height: 62.5rem;
    }
}

.album1-wrapper
{
    justify-content: space-between;
    padding: 0rem 2rem;
    flex-direction: column;
}

@media screen and (max-width: 440px)
{
    .album1-wrapper
    {
        height: 95vh!important;
    }

}