.scroll-to-top-btn
{
    
    color: black;
    text-transform: uppercase;
    background: none;
    cursor: pointer;
    border: none;
    color: #fff;
    width: 100vw;
    padding-top: 0rem;
    padding-bottom: 3rem;
    position: relative;
    
    span 
    {
        font-size: clamp(2rem, 3vw, 3rem);
       display: flex;
       overflow: hidden;
        cursor: pointer;
        width: 100%;
    }
}