.artist-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0rem 2rem;
    position: fixed;
    width: 100%;
    flex-wrap: wrap;
    top: 50%;
    left: 0%;
    right: 0%;
    transform: translateY(-50%);
    z-index: 10;
    overflow: hidden;
    
    h2 
    {
        text-transform: uppercase;
        font-size: clamp(1rem, 2vw, 1.4rem);
    }
}

@media screen and (max-width: 450px)
{
    .artist-container
    {
    justify-content: center;
    align-items: center;
    gap: .7rem;
    flex-direction: column;
    padding: 0;
    
    }
}