.navigation 
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    gap: 3rem;
    z-index: 99;

    .mobile-menu
    {
        display: flex;
        gap: 3rem;
        align-items: center;
        position: absolute;
        top: 0rem;
        background: rgba(9, 9, 9, .4);
        backdrop-filter: blur(8px);
        height: 100vh;
        right: 0;
        display: none;
    a 
    {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.4rem;

    }
    }
    a 
    {
        text-decoration: none;
        color: rgb(244, 243, 243);
        text-transform: uppercase;
        font-size: 1.4rem;
    }

    .burger 
    {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        display: none;
        z-index: 99;
    }
}

@media screen and (max-width: 768px)
{
    .navigation
    {
        z-index: 99;
       a 
       {
        display: none;
       }
        .burger 
        {
            display: block;
            cursor: pointer;

            span 
            {
                font-size: 2rem;
                font-weight: bold;
                z-index: 99;
            }
        }

       
        .mobile-menu
        {
            display: flex;
            flex-direction: column;
            width: 50%;
            justify-content: center;
            align-items: center;
            transition: all .4s ease;
            transform: translateX(100%);
        a 
        {
            display: flex;
        }
          
        }

        .show 
        {
            transform: translateX(0%);
        }

    }
}