.gallery-container
{
    .image
    {
        width: 100%;
        height: 100%;
        cursor: pointer;
        overflow: hidden;
    }

    .image.visible
    {
        opacity: 1;
    }

    .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        height: 100vh;
        background: rgb(0, 0, 0);
        padding: 1rem;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    
    .close-btn {
        position: absolute;
        top: 1.8rem;
        right: 0.5rem;
        font-size: clamp(2.5rem, 3vw, 3rem);
        cursor: pointer;
        color: #fff;
        z-index: 10;
    }
    
    .main-image {
        max-width: 100%;
        height: 70vh;
        object-fit: contain;
        animation: imageAnim 1s ease-in-out;
        overflow: hidden;
    }
    
    .buttons {
        position: absolute;
        top: 35%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;
        cursor: pointer;
        align-items: center;
        span 
        {
            width: 2rem;
            height: 2rem;
            border: 1px solid white;
            align-items: center;
            display: flex;
            justify-content: center;
            border-radius: 50%;
        }
    }
    
    .thumbnail-slider {
        display: flex;
        overflow-x: auto;
        margin-top: 1rem;
        overflow: hidden;
    }
    
    .thumbnail {
        width: 15rem;
        height: 15rem;
        object-fit: cover;
        margin-right: .5rem;
        cursor: pointer;
        border-radius: .2rem;
        transition: transform 0.3s;
    }
    
    .thumbnail.active {
        transform: scale(1.1);
    }
    
    .slider-controls {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        width: 100%;

        span 
        {
            cursor: pointer;
            font-size: 1.5rem;
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    color: #fff;
    gap: 1rem;
    text-align: center;
}

.overlay-content p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 3rem;
}

.overlay-content a {
    color: #fff;
    padding-top: 1rem;
    line-height: 2rem;;
    text-decoration: underline;
}


@keyframes imageAnim 
{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 1200px)
{
    .gallery-container
    {
        .modal 
        {
            .thumbnail-slider
            {
                overflow: hidden;
                img 
                {
                width: 7rem;
                height: 7rem;
                }
            }
        }
    }
}

@media screen and (max-width: 600px)
{
    .gallery-container
    {
        .modal
        {

            .buttons
            {
                top: 37%;
            }
            .thumbnail-slider
            {
                overflow: hidden;
                img 
                {
                    width: 4rem;
                    height: 5rem;
                    overflow: hidden;
                }
            }
        }
    }
}